[submodule "addToAnki"]
	path = addToAnki
	url = https://GennadyGS@bitbucket.org/GennadyGS/addtoanki.git
[submodule "anki"]
	path = anki
	url = https://GennadyGS@bitbucket.org/GennadyGS/anki.git
[submodule "GooglePhrasebookExport"]
	path = GooglePhrasebookExport
	url = https://GennadyGS@bitbucket.org/GennadyGS/googlephrasebookexport.git
