[submodule "addToAnki"]
	path = addToAnki
	url = git@bitbucket.org:GennadyGS/addtoanki.git
[submodule "anki"]
	path = anki
	url = git@bitbucket.org:GennadyGS/anki.git
[submodule "GooglePhrasebookExport"]
	path = GooglePhrasebookExport
	url = git@bitbucket.org:GennadyGS/googlephrasebookexport.git
